body {
	background-image: url("../images/upfeathers.png");
}

header {
	font-family: "Georgia";
	font-size: 30px;
	font-weight: bold;
	color: #fdfdf1;
	background: #feebed;
	width: 100%;
	height: 120px;
}

h1 {
	font-family: "Georgia";
	color: #5e3553;
	padding: 10px;
	border-bottom: 3px solid #feebed;
}

h2 {
	font-family: "Georgia";
	font-size: 22px;
	color: #5e3553;
	padding: 10px;
	border-bottom: 3px solid #feebed;
}

p {
	font-family: "Arial";
	padding-left: 10px;
	padding-right: 10px;
}

a {
	font-family: "Arial";
	font-size: 18px;
	color: #5e3553;
	text-decoration: none;
}


a.default_links {
	padding: 20px;
	float: right;
	position: relative;
	right: 100px;
	top: 25px;
}

.header_box {
	background: #5e3553;
	display: inline-block;
	padding: 30px;
	float: left;
	position: relative;
	top: 10px;
	left: 100px; 
}

.main_content {
	/*clear: both;*/
	float: left;
	position: relative;
	top: 20px;
	left: 100px;
	width: 650px;
	padding: 10px;
	border: 4px solid #feebed;
	background: #fdfdf1;
	margin-bottom: 40px;
	display: inline-block;
}

#profile_pic {
	float: left;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.social_media {
	float: right;
	position: relative;
	top: 20px;
	right: 100px;
	width: 270px;
	padding: 10px;
	border: 4px solid #feebed;
	background: #fdfdf1;
	display: inline-block;
}

footer {
	clear: both;
	font-family: "Georgia";
	text-align: center;
	font-size: 14px;
	color: #5e3553;
	padding: 20px;
	background: #feebed;
	width: 95%;
	height: 25px;
	border-top: 2px solid;
}
